h1 {
  color: white;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  text-align: center;
  padding: 20px 0;
}

.col-3 {
  margin-bottom: 20px;
}
.input-group {
  max-width: 300px;
}

#indexNumber {
  padding: 3px;
  border-radius: 5px;
}

.favorable {
  background-color: #28db04;
}

.moderate {
  background-color: #f29a02;
}

.severe {
  background-color: #f50a4c;
}

.recentCitiesList > div {
  border: 1px solid lightgrey;
  padding: 10px;
  color: grey;
  max-width: 250px;
}

.recentCitiesList {
  margin-bottom: 20px;
}

.weatherStats > div {
  margin-bottom: 1rem;
}

.weatherStatsStyle {
  border: 1px solid lightgrey;
  padding: 20px;
  margin-bottom: 1rem;
}
